<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src='/assets/unnamed.ico' alt="" width="75" height="75">
            <span class="navbar-text">
                La Sociedad de las Sombras
            </span>
          </a>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown"></div>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-default" data-bs-toggle="dropdown" aria-expanded="false">
              La Sociedad de las Sombras
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" href="/LSDS/src/app/components/pages/home/home.component.html">Home</a></li>
              <li><a class="dropdown-item" href="/LSDS/src/app/components/pages/fechas/fechas.component.html">Próximas fechas</a></li>
              <li><a class="dropdown-item" href="/LSDS/src/app/components/pages/bands/bands.component.html">Bandas</a></li>
              <li><a class="dropdown-item" href="#">Quienes somos</a></li>
              <li><a class="dropdown-item" href="#">Afiliación</a></li>
            </ul>
          </div>
          </div>
      </nav>
</div>